<div class="row" xmlns="http://www.w3.org/1999/html">

  <div class="col-3"></div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h4 class="text-primary text-center">Parametre <i class="fas fa-fw fas fa-cog"></i></h4>
      </div>
      <div class="card-body">
        <div class="alert alert-success alert-dismissible fixed-bottom mb-0" role="alert" *ngIf="messageSuccess != ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{messageSuccess}}
        </div>
        <div class="alert alert-danger alert-dismissible fixed-bottom mb-0" style="margin-bottom: 0" role="alert" *ngIf="messageFailed != ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{messageFailed}}
        </div>
        <div class="spinner-border text-primary" *ngIf="isLoading"></div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-export-tab" data-toggle="pill" href="#pills-export" role="tab" aria-controls="pills-export" aria-selected="true">
              Export
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-import-tab" data-toggle="pill" href="#pills-import" role="tab" aria-controls="pills-import" aria-selected="false">
              Import
            </a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active mt-5" id="pills-export" role="tabpanel" aria-labelledby="pills-export-tab">
            <div class="mt-2">
              <h4><a (click)="onGetUriUsers()" class="text-danger">exporter les utilisateurs</a></h4>
              <h6><a (click)="onStartDownloadUsers()" *ngIf="uriUsers != ''" class="text-primary">Lien de telechargement</a></h6>
            </div>
            <div class="mt-2">
              <h4><a (click)="onGetUriActivites()" class="text-danger">exporter les activités</a></h4>
              <h6><a (click)="onStartDownloadActivites()" *ngIf="uriActivites != ''" class="text-primary">Lien de telechargement</a></h6>
            </div>
            <div class="mt-2">
              <h4><a (click)="onGetUriTypes()" class="text-danger">exporter les types de pauses</a></h4>
              <h6><a (click)="onStartDownloadTypes()" *ngIf="uriTypes != ''" class="text-primary">Lien de telechargement</a></h6>
            </div>
            <div class="mt-2">
              <h4><a (click)="onGetUriTemps()" class="text-danger">exporter les temps d'activités/pauses/inactivités</a></h4>
              <h6><a (click)="onStartDownloadTemps()" *ngIf="uriTemps != ''" class="text-primary">Lien de telechargement</a></h6>
            </div>
          </div>
          <div class="tab-pane fade mt-5" id="pills-import" role="tabpanel" aria-labelledby="pills-import-tab">
            <form (ngSubmit)="onSubmitImport()">
              <div class="form-group">
                <label>upload fichier des utilisateurs</label>
                <input type="file" (change)="onChangeFileUsers($event)" name="fileUsers" class="form-control">
              </div>
              <div class="form-group">
                <label>upload fichier des activités</label>
                <input type="file" (change)="onChangeFileActivites($event)" name="fileActivites" class="form-control">
              </div>
              <div class="form-group">
                <label>upload fichier des types</label>
                <input type="file" (change)="onChangeFileTypes($event)" name="fileTypes" class="form-control">
              </div>
              <div class="form-group">
                <label>upload fichier de temps</label>
                <input type="file" (change)="onChangeFileTemps($event)" name="fileTemps" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Valider<i class="fas fa-fw fa-check"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3"></div>

</div>
