

<div class="row">

  <div class="col-3"></div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h4 class="text-primary text-center">Parametre de l'activité <span class="text-danger">UBER</span></h4>
      </div>
      <div class="card-body">
        <h5 class="text-body">Gérer le temps d'inactiviter</h5>
        <hr>
        <div class="form-group">
          <label for="tinactiviteMs">temps d'inactivité en ms</label>
          <input type="number" class="form-control" id="tinactiviteMs" aria-describedby="emailHelp"
                 placeholder="temps d'inactivité en ms"  [(ngModel)]="data.tinactiviteMs" required name="tinactiviteMs">
        </div>
        <div class="form-group">
          <label for="tfermetureSessionMs">temps fermeture session en ms</label>
          <input type="number" class="form-control" id="tfermetureSessionMs" aria-describedby="emailHelp"
                 placeholder="temps fermeture session en ms"  [(ngModel)]="data.tfermetureSessionMs" required name="tfermetureSessionMs">
        </div>
        <button class="btn btn-primary float-right">Enregistrer<i class="fas fa-fw fa-save ml-2"></i></button>
      </div>
    </div>
  </div>

  <div class="col-3"></div>

</div>
