<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-2" *ngIf="authRole == 'admin'">
      <div class="form-group">
        <label>Activité</label>
        <select name="" class="form-control"  [(ngModel)]="selectedActivite" (change)="onFilterChange()">
          <option *ngFor="let a of activites" [ngValue]="a.id">{{a.nom}}</option>
        </select>
      </div>
    </div>


    <div class="col-2">
      <div class="form-group">
        <label>date debut</label>
        <input type="date" class="form-control" [(ngModel)]="dateFromFilter" (change)="onFilterChange()">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label>date fin</label>
        <input type="date" class="form-control" [(ngModel)]="dateToFilter" (change)="onFilterChange()">
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card">
        <div class="card-title">
          <h6 class="text-primary text-center mt-4"> statistique globale de l'activité </h6>
        </div>
        <div class="card-body">
          <div *ngIf="chartActivite == null">
            <h4 class="text-primary">Aucun resultat</h4>
          </div>
          <canvas *ngIf="chartActivite != null"
                  baseChart
                  [datasets]="chartActivite.datasets"
                  [labels]="chartActivite.labels"
                  [options]="ChartOptions"
                  [legend]="ChartLegend"
                  chartType="pie">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row mb-3">

    <div *ngIf="chartsActiviterByColl.length == 0">
      <h4 class="text-primary">Aucun resultat</h4>
    </div>
    <div class="col-6 mb-2" *ngFor="let chart of chartsActiviterByColl">
      <div class="card">
        <div class="card-title">
          <h6 class="text-primary text-center mt-4"><a [routerLink]="['/user/'+chart.matricule]">{{chart.fullname}}</a> </h6>
        </div>
        <div class="card-body">
          <canvas baseChart
                  [datasets]="chart.datasets"
                  [labels]="chart.labels"
                  [options]="ChartOptions"
                  [legend]="ChartLegend"
                  chartType="pie">
          </canvas>
        </div>
      </div>
    </div>

  </div>
</div>
<!---Container Fluid-->

