

<div class="alert alert-success alert-dismissible" role="alert" *ngIf="messageSuccess != ''">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
    <span aria-hidden="true">&times;</span>
  </button>
  {{messageSuccess}}
</div>
<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="messageFailed != ''">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
    <span aria-hidden="true">&times;</span>
  </button>
  {{messageFailed}}
</div>

<div class="spinner-border text-primary" *ngIf="isLoading"></div>

<div class="card mb-4" *ngIf="!isLoading">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">
      Activiter details
      <button class="btn btn-info ml-3" (click)="onClickEdit()"><i class="fas fa-fw fa-edit"></i></button>
    </h6>
    <a routerLink="/activites" class="btn btn-primary text-white">Retour<i class="fas fa-fw fa-forward ml-2"></i></a>
  </div>
  <div class="card-body">
    <h5 class="text-primary">Cette activité est
      <b [ngClass]="{'text-success': data.active, 'text-danger': !data.active}">
        {{ data.active? 'activer':'desactiver' }}
      </b>
      vous pouvez {{ data.active? 'le désactiver':'l\'activer' }} en cliquant sur
      <button *ngIf="data.active" (click)="onDesactiver()" class="btn btn-sm btn-danger"><i class="fas fa-fw fa-download"></i></button>
      <button *ngIf="!data.active" (click)="onActiver()" class="btn btn-sm btn-success"><i class="fas fa-fw fa-upload"></i></button>
    </h5>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="ID">ID</label>
        <input type="text" class="form-control" id="ID" aria-describedby="emailHelp"
               placeholder="id" [value]="data.id" disabled name="id">
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="nom">nom</label>
            <input type="text" class="form-control" id="nom" aria-describedby="emailHelp"
                   placeholder="nom" [(ngModel)]="data.nom" [disabled]="!editMode" name="nom">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="date_creation">date creation</label>
            <input type="text" class="form-control" id="date_creation" aria-describedby="emailHelp"
                   placeholder="date creation" [value]="data.date_creation | date :'yyyy-dd-mm & HH:mm'" disabled name="date_creation">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-6">
          <label>temps d'inactivité</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <span *ngIf="temps1 == 1" class="bg-primary text-white">MS</span>
                <span *ngIf="temps1 == 1000" class="bg-primary text-white">S</span>
                <span *ngIf="temps1 == 60*1000" class="bg-primary text-white">M</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="onChangeTemps('ms', 1)">Milisecondes</a>
                <a class="dropdown-item" (click)="onChangeTemps('s', 1)">Secondes</a>
                <a class="dropdown-item" (click)="onChangeTemps('m', 1)">Minutes</a>
              </div>
            </div>
            <input type="number" class="form-control" aria-label="Text input with dropdown button"
                   [(ngModel)]="data.tinactiviteMs" [disabled]="!editMode" name="tinactiviteMs">
          </div>
        </div>
        <div class="col-6">
          <label>temps fermeture session</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <span *ngIf="temps2 == 1" class="bg-primary text-white">MS</span>
                <span *ngIf="temps2 == 1000" class="bg-primary text-white">S</span>
                <span *ngIf="temps2 == 60*1000" class="bg-primary text-white">M</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="onChangeTemps('ms', 2)">Milisecondes</a>
                <a class="dropdown-item" (click)="onChangeTemps('s', 2)">Secondes</a>
                <a class="dropdown-item" (click)="onChangeTemps('m', 2)">Minutes</a>
              </div>
            </div>
            <input type="number" class="form-control"
                   [(ngModel)]="data.tfermetureSessionMs" [disabled]="!editMode" name="tfermetureSessionMs">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-4" [disabled]="!editMode">Valider<i class="fas fa-fw fa-check ml-2"></i></button>
    </form>
  </div>
</div>
