
<div class="card">
  <div class="card-header">
    <a routerLink="/users" class="btn btn-primary float-right">Retour<i class="fas fa-fw fa-forward ml-2"></i></a>
    <h4 class="text-center">Historique utilisation du temps du collaborateur</h4>
    <h5 class="text-center">taimourya yahya (BE2626fdsdv)</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        total activité :
      </div>
      <div class="col-2">11.65</div>
    </div>
    <div class="row">
      <div class="col-2">
        temps de masse :
      </div>
      <div class="col-2">15.52</div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            historique activités
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Date</th>
                    <th>Debut</th>
                    <th>Fin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>08/09/2021</td>
                    <td>10:20:21</td>
                    <td>12:20:21</td>
                  </tr>
                  <tr>
                    <td>08/09/2021</td>
                    <td>10:20:21</td>
                    <td>12:20:21</td>
                  </tr>
                  <tr>
                    <td>08/09/2021</td>
                    <td>10:20:21</td>
                    <td>12:20:21</td>
                  </tr>
                  <tr>
                    <td>08/09/2021</td>
                    <td>10:20:21</td>
                    <td>12:20:21</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            historique pauses
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th>Date</th>
                  <th>Debut</th>
                  <th>Fin</th>
                  <th>Type</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>08/09/2021</td>
                    <td>10:20:21</td>
                    <td>12:20:21</td>
                    <td>pause café</td>
                  </tr>
                  <tr>
                    <td>08/09/2021</td>
                    <td>10:20:21</td>
                    <td>12:20:21</td>
                    <td>pause café</td>
                  </tr>
                  <tr>
                    <td>08/09/2021</td>
                    <td>10:20:21</td>
                    <td>12:20:21</td>
                    <td>pause café</td>
                  </tr>
                  <tr>
                    <td>08/09/2021</td>
                    <td>10:20:21</td>
                    <td>12:20:21</td>
                    <td>pause café</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            historique inactivités
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th>Date</th>
                  <th>Debut</th>
                  <th>Fin</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>08/09/2021</td>
                  <td>10:20:21</td>
                  <td>12:20:21</td>
                </tr>
                <tr>
                  <td>08/09/2021</td>
                  <td>10:20:21</td>
                  <td>12:20:21</td>
                </tr>
                <tr>
                  <td>08/09/2021</td>
                  <td>10:20:21</td>
                  <td>12:20:21</td>
                </tr>
                <tr>
                  <td>08/09/2021</td>
                  <td>10:20:21</td>
                  <td>12:20:21</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
