
<div class="spinner-border text-primary" *ngIf="isLoading"></div>

<div class="card" *ngIf="!isLoading">
  <div class="card-header">
    <a routerLink="/users" class="btn btn-primary float-right">Retour<i class="fas fa-fw fa-forward ml-2"></i></a>
    <h4 class="text-center">Historique utilisation du temps du collaborateur</h4>
    <h5 class="text-center">{{collTempsInfo.collaborateur_fullname}} ({{collTempsInfo.collaborateur_matricule}})</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <h4>temps de masse : <b class="text-primary">{{collTempsInfo.tempsMasse}}</b></h4>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            historique activités ( total :
            <b class="text-primary">{{collTempsInfo.activites.total.toFixed(2)}} heurs</b> )
          </div>
          <div class="card-body">
            <div class="table-responsive" style="height: 600px">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Date</th>
                    <th>Debut</th>
                    <th>Fin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of collTempsInfo.activites.listTemps">
                    <td>{{t.date}}</td>
                    <td>{{t.heur_debut}}</td>
                    <td>{{t.heur_fin}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            historique pauses ( total :
            <b class="text-primary">{{collTempsInfo.pauses.total.toFixed(2)}} heurs</b> )
          </div>
          <div class="card-body">
            <div class="table-responsive" style="height: 600px">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th>Date</th>
                  <th>Debut</th>
                  <th>Fin</th>
                  <th>Type</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of collTempsInfo.pauses.listTemps">
                    <td>{{t.date}}</td>
                    <td>{{t.heur_debut}}</td>
                    <td>{{t.heur_fin}}</td>
                    <td>{{t.type}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            historique inactivités ( total :
            <b class="text-primary">{{collTempsInfo.inactivites.total.toFixed(2)}} heurs</b> )
          </div>
          <div class="card-body">
            <div class="table-responsive" style="height: 600px">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th>Date</th>
                  <th>Debut</th>
                  <th>Fin</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of collTempsInfo.inactivites.listTemps">
                    <td>{{t.date}}</td>
                    <td>{{t.heur_debut}}</td>
                    <td>{{t.heur_fin}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
