<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Table des utilisateurs</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item">Gestion</li>
      <li class="breadcrumb-item active" aria-current="page">Utilisateurs</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4">

      <div class="alert alert-success alert-dismissible" role="alert" *ngIf="messageSuccess != ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{messageSuccess}}
      </div>
      <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="messageFailed != ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{messageFailed}}
      </div>

      <div class="card">
        <div class="card-body">
          <div class="filters">
            <div class="row">
              <div class="col-2">
                <div class="form-group">
                  <label>etat compte</label>
                  <select name="" class="form-control" [(ngModel)]="filterEtatCompte" (change)="onFilterChange()">
                    <option value="All">All</option>
                    <option value="activer">Activer</option>
                    <option value="desactiver">Desactiver</option>
                  </select>
                </div>
              </div>
              <div class="col-2" *ngIf="role =='admin'">
                <div class="form-group">
                  <label>type de compte</label>
                  <select name="" class="form-control" [(ngModel)]="filterTypeCompte" (change)="onFilterChange()">
                    <option value="All">All</option>
                    <option value="admin">Admin</option>
                    <option value="superviseur">Supérviseur</option>
                    <option value="collaborateur">Collaborateur</option>
                  </select>
                </div>
              </div>
              <div class="col-2" *ngIf="(filterTypeCompte == 'collaborateur' || filterTypeCompte == 'superviseur') && role == 'admin'">
                <div class="form-group">
                  <label>Activité</label>
                  <select name="" class="form-control"  [(ngModel)]="filterActiviter" (change)="onFilterChange()">
                    <option value="-1">All</option>
                    <option *ngFor="let a of activites" [ngValue]="a.id">{{a.nom}}</option>
                  </select>
                </div>
              </div>
              <div class="col-2" *ngIf="filterTypeCompte == 'collaborateur' && role == 'admin'">
                <div class="form-group">
                  <label>Session</label>
                  <select class="form-control"[(ngModel)]="filterSession" (change)="onFilterChange()">
                    <option value="All">All</option>
                    <option value="actif">Actif</option>
                    <option value="inactif">Inactif</option>
                    <option value="pause">Pause</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>nombre par page</label>
              <select name="" class="form-control" style="width: 75px" (change)="onFilterChange()" [(ngModel)]="size">
                <option value="5">5</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>

          </div>
        </div>
      </div>

      <!-- Simple Tables -->
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Table des utilisateurs</h6>
          <a href="" class="btn btn-primary" routerLink="/addUser">
            <i class="fas fa-fw fa-plus"></i>
            Ajouter un nouveau utilisateur
          </a>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th>Matricule</th>
                <th>Fullname</th>
                <th>Téléphone</th>
                <th>Cin</th>
                <th>naissance</th>
                <th>active</th>
                <th>role</th>
                <th>activité</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="isLoading">
                <td></td>
                <td></td>
                <td></td>
                <td><div class="spinner-border text-primary"></div></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngIf="users.length == 0">
                <td>aucun resultat</td>
              </tr>
              <tr *ngFor="let u of users">
                <td><a [routerLink]="['/user/'+u.matricule]">{{u.matricule}}</a></td>
                <td>{{u.fullName}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.cin}}</td>
                <td>{{u.date_naissance}}</td>
                <td>
                  <span class="badge badge-success" *ngIf="u.active">Oui</span>
                  <span class="badge badge-danger" *ngIf="!u.active">Non</span>
                </td>
                <td>{{u.roleName}}</td>
                <td>
                  <span *ngIf="u.roleName != 'admin'">{{u.activiterName}}</span>
                </td>
                <td>
                  <button (click)="onEnable(u.matricule)" class="btn btn-sm btn-success" *ngIf="!u.active"><i class="fas fa-fw fa-upload"></i></button>
                  <button (click)="onDisable(u.matricule)" class="btn btn-sm btn-danger" *ngIf="u.active"><i class="fas fa-fw fa-download"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <!-- pagination -->
          <nav aria-label="Page navigation" *ngIf="totalPages > 1">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" (click)="onPagePrevious()" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <li *ngFor="let item of [].constructor(totalPages) let i = index" class="page-item" [ngClass]="{'active': i == page}">
                <a class="page-link" (click)="onPageClick(i)">{{ i + 1 }}</a>
              </li>

              <li class="page-item">
                <a class="page-link" (click)="onPageNext()" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- fin pagination -->
        </div>
      </div>
    </div>
  </div>
  <!--Row-->


</div>
<!---Container Fluid-->
