
<div class="row">
  <div class="col-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        Temps d'activité
        <div class="text-white-50 small"><b>23</b></div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        Temps de pause
        <div class="text-white-50 small"><b>0</b></div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        Temps d'inactivité
        <div class="text-white-50 small"><b>0</b></div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">Prendre une pause</h4>
      </div>
      <div class="card-body">
        <select class="mr-4 form-control">
          <option>pause café</option>
          <option>pause dej</option>
          <option>pause test</option>
        </select>
        <button class="btn btn-primary float-right mt-2"><i class="fas fa-fw fa-check"></i></button>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
