


<div class="row">
  <div class="col-4">
    <div class="card text-white"
         [ngClass]="{'bg-success': temps.tPause == 0 && temps.tInactif == 0, 'bg-primary': temps.tPause > 0 || temps.tInactif > 0}">
      <div class="card-body">
        Temps d'activité
        <div class="text-white-50">
          <b>{{temps.tActif}}</b>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card text-white" [ngClass]="{'bg-success': temps.tPause > 0, 'bg-primary': temps.tPause == 0}">
      <div class="card-body">
        Temps de pause
        <button class="btn btn-danger float-right" (click)="onPauseEnd()" *ngIf="temps.tPause > 0"><i class="fas fa-fw fa-pause"></i></button>
        <div class="text-white-50">
          <b>{{temps.tPause}}</b>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card text-white" [ngClass]="{'bg-warning': temps.tInactif > 0, 'bg-primary': temps.tInactif == 0}">
      <div class="card-body">
        Temps d'inactivité
        <button class="btn btn-danger disabled float-right" *ngIf="temps.tInactif > 0"><i class="fas fa-fw fa-exclamation-triangle"></i></button>
        <div class="text-white-50"><b>{{temps.tInactif}}</b></div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">Prendre une pause</h4>
      </div>
      <div class="card-body">
        <div class="alert alert-success alert-dismissible" role="alert" *ngIf="messageSuccess != ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{messageSuccess}}
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="messageFailed != ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{messageFailed}}
        </div>
        <select class="mr-4 form-control" [(ngModel)]="selectedType">
          <option *ngFor="let t of types" [ngValue]="t.id">{{t.libelle}}</option>
        </select>
        <button class="btn btn-primary float-right mt-2" (click)="onPause()"><i class="fas fa-fw fa-check"></i></button>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
